.country {
  border: 2px solid sandybrown;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.country img {
  width: 300px;
}

.country-visited {
  background-color: lightblue;
}
